@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow:hidden;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#time{
    font-size: 8rem;
}
h2{
    opacity: 0.6;
    position: relative;
    top: 3rem;
}